@import './variables.scss';
@import './SectionComponent';
@import './GitCommands.scss';
@import './Footer.scss';
@import './ProjectFolderSetup.scss';

a{
  color: $light-color;
}

.App {
    text-align: center;
    min-height: 90vh;
  
  }
  
 
  .App-header {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    background-color: #61dafb;
  }
  
html {

  background-color: #61dafb;
  height: 100vh;
}

.imageGroup {
  max-width: 80vw;
  box-shadow: 1px 1px 1px $light-color;
  border-radius: 10px;
  
}

.imageGroup:hover {
  transform: scale(1.5);

}